h1{
    font-style: italic;
}
.button {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; /* ボタンが画面幅に応じて折り返されるようにする */
    justify-content: center; /* ボタンを中央揃えにする */
}

.stapro, .course {
    width: 50%;
    height: 70px;
    background-color: rgb(68, 68, 65);
    text-align: center;
    margin: 10px; /* ボタン間にスペースを追加 */
    box-sizing: border-box; /* パディングとボーダーを含めて幅を計算 */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}

.stapro:hover, .course:hover {
    background-color: rgb(136, 134, 141);
}

.stapro p, .course p {
    display: flex;  /*高さを自動的に変更してくれる*/
    justify-content: center;    /*中央揃え*/
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 20px;
}

.stapro a, .course a {
    text-decoration: none;
    color: rgb(249, 245, 245);
}

@media screen and (min-width: 480px) and (max-width: 960px) {
    .stapro, .course {
        width: 40%; /* 中程度の画面サイズでボタンの幅を調整 */
    }
    .stapro p, .course p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .button {
        display: block;
    }
    .stapro, .course {
        width: 80%; /* 小さい画面サイズでボタンの幅を調整 */
        margin: 20px auto;
    }
    .stapro p, .course p {
        font-size: 12px;
    }
}
